/autom4te.cache/
/INSTALL
Makefile
Makefile.in
Makefile.in.in
/aclocal.m4
/compile
/config.h
/config.h.in
/config.status
/configure
/data/l3afpad.desktop
/depcomp
/install-sh
/missing
/po/.intltool-merge-cache
/po/POTFILES
/po/*.gmo
/po/stamp-it
/src/.deps/
/src/l3afpad
/stamp-h1

