[Desktop Entry]
Encoding=UTF-8
Name=L3afpad
Name[bg]=L3afpad
Name[br]=L3afpad
Name[ca]=L3afpad
Name[cs]=L3afpad
Name[da]=L3afpad
Name[de]=L3afpad
Name[el]=L3afpad
Name[eo]=L3afpad
Name[es]=L3afpad
Name[eu]=L3afpad
Name[fi]=L3afpad
Name[fr]=L3afpad
Name[ga]=L3afpad
Name[gl]=L3afpad
Name[he]=L3afpad
Name[hu]=L3afpad
Name[id]=L3afpad
Name[it]=L3afpad
Name[ja]=L3afpad
Name[ko]=L3afpad
Name[lt]=L3afpad
Name[lv]=L3afpad
Name[nl]=L3afpad
Name[nn]=L3afpad
Name[pl]=L3afpad
Name[pt]=L3afpad
Name[pt_BR]=L3afpad
Name[ru]=L3afpad
Name[sk]=L3afpad
Name[sl]=L3afpad
Name[sr]=L3afpad
Name[sv]=L3afpad
Name[ta]=L3afpad
Name[tr]=L3afpad
Name[uk]=L3afpad
Name[vi]=L3afpad
Name[zh_CN]=L3afpad
Name[zh_TW]=L3afpad
Comment=Simple text editor
Comment[bg]=Опростен текстов редактор
Comment[br]=Embanner testennou eeun
Comment[ca]=Editor de text simple
Comment[cs]=Jednoduchý textový editor
Comment[da]=Enkel tekstbehandler
Comment[de]=Einfacher Texteditor
Comment[el]=Απλός επεξεργαστής κειμένου
Comment[eo]=Simpla tekstredaktilo
Comment[es]=Editor de texto simple
Comment[eu]=Testu editore sinplea
Comment[fi]=Yksinkertainen tekstieditori
Comment[fr]=Un éditeur de texte tout simple
Comment[ga]=Eagarthóir simplí
Comment[gl]=Editor de texto sinxelo
Comment[he]=עורך טקסט פשוט
Comment[hu]=Egyszerű szöveg szerkesztő
Comment[id]=Penyunting teks sederhana
Comment[it]=Semplice editor di testi
Comment[ja]=シンプルなテキストエディタ
Comment[ko]=간단한 텍스트 편집기
Comment[lt]=Paprastas teksto redaktorius
Comment[lv]=Vienkāršā teksta redaktors
Comment[nl]=Eenvoudige teksteditor
Comment[nn]=Enkel tekstredigering
Comment[pl]=Prosty edytor tekstu
Comment[pt]=Simples editor de texto
Comment[pt_BR]=Editor de texto simples
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sl]=Preprost urejevalnik besedila
Comment[sr]=Једноставан уређивач текста
Comment[sv]=Enkel textredigerare
Comment[ta]=எளிமையான உரை பதிப்பான்
Comment[tr]=Basit metin düzenleyicisi
Comment[uk]=Проситий текстовий редактор
Comment[vi]=Một trình soạn thảo văn bản đơn giản
Comment[zh_CN]=简易文字编辑器
Comment[zh_TW]=簡易文字編輯器
Exec=l3afpad %f
Icon=l3afpad
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
